/*Section especial para Wordpress _Section-wordpress.scss*/
@import './Section-progress-wordpress';

section {
.section-wordpress-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2.5rem;
   } 
   .section-wordpress-box {
    background-color: $main-color;
    height: 60rem;
    width: 35.2rem;
    border-radius: 3rem 3rem 2rem 2rem;
    cursor: pointer;
    transition: 0.3s ease;

    .section-wordpress-info {
        .img-sub-titulo {
            img {
                width: 35rem;
                height: 28rem;
                border-radius: 3rem 3rem 0rem 0rem;
                transition: 0.3s ease;
            }
            h3 {
                background-color: red;
                color: #fff;
                width: 10rem;
                height: 3rem;
                padding: 0.7rem;
                padding-left: 1.5rem;
                position: relative;
                bottom: 4rem;
                left: 0rem;
                border-radius: 0rem 3rem 3rem 0rem;
            }
        }
        .titulo-wordpress {
            h1 {
                padding: 0.7rem;
                font-size: 3rem;
                position: relative;
                bottom: 4rem;
                color: #fff;
            }
            h3 {
                position: relative;
                bottom: 5rem;
                left: 1rem;
                color: #fff;
            }
            .separador {
                display: inline-block;
                width: 23rem;
                height: 0.2rem;
                background-color: #fff;
                vertical-align: middle;
                position: relative;
                bottom: 5rem;
                left: 1rem;
            }
            p {
                position: relative;
                bottom: 6rem;
                padding: 1rem;
                font-size: 1.6rem;
                color: #fff;
            }
            #next {
                position: relative;
                left: 29rem;
                top: -3rem;
                background-color: transparent;
                width: 5rem;
                height: 3rem;
                color: #fff;
                font-size: 3rem;
                cursor: pointer;
          }
        }
      }
    }
    /*section de Hover*/
    .section-wordpress-box:hover {
        background: transparent;
        transform: scale(1.03);
        border: 1px solid $main-color;
      }
  }

@media (max-width:1790px) {
    .section {
        .section-wordpress-container {
            grid-template-columns: repeat(3,4fr);
      }
    }
}

@media (max-width:1168px) {
    .section {
        .section-wordpress-container {
            position: relative;
            left: 5rem;
            grid-template-columns: repeat(2,4fr);
      }
    }
}

@media (max-width:786px) {
    .section {
        .heading {
            position: relative;
            left: 12rem;
        }
        .section-wordpress-container {
            position: relative;
            left: 22rem;
            grid-template-columns: repeat(1,4fr);
      }
    }
}

@media (max-width:424px) {
    .section {
        .heading {
            position: relative;
            left: 0rem;
        }
        .section-wordpress-container {
            position: relative;
            left: 4rem;
            grid-template-columns: repeat(1,4fr);
      }
    }
}

