
/* about */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    position: relative;
    bottom: 25rem;
    .heading{
        font-size: 5rem;
        margin-bottom: 2.5rem;
        text-align: center;
    }
}

.about-content {
    text-align: center;
    h3 {
        font-size: 2.5rem;
        margin: -6rem -26px -2rem;
    }
    p {
        font-size: 1.6rem;
        margin: 2.8rem -2px 1rem;
    }
}

/*education*/

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    .education-column {
        flex: 1 1 4rem;
        .title {
            font-size: 2.5rem;
            margin: -60px 26px 0.5rem 2rem;
        }
    }
}

.education-column {
    .education-box {
    border-left:  .2rem solid var(--main-color);
         .education-content {
            position: relative;
            padding-left: 2rem;
            .education-content::before {
                content: '';
                position: absolute;
                top: 0;
                left: -1.1rem;
                width: 2rem;
                height: 2rem;
                background: var(--main-color);
                border-radius: 50%;
            }
        }
    }
}

.education-content {
     .content {
    position: relative;
    padding: 3.5rem;
    border: solid var(--main-color);
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    .content::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--second-bg-color);
        z-index: -1;
        transition: .5s;
    }
    .content:hover::before {
        width: 100%;
    }
    .year {
        font-size: 1.5rem;
        color: var(--main-color);
        margin: -2rem;
        padding-bottom: 6.2rem;
        .year i {
            padding-right: .5rem;
        }
    }
    h3 {
        font-size: 1.9rem;
    }
    p {
        font-size: 1.5rem;
        padding-top: 0rem;
    }
   }
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box a::before {
    background: var(--second-bg-color);
}

@media(max-width: 462px) {
    .education {
        padding: 10rem 4% 5rem 5%;
    }
}
