.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: $main-color;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5 ease;
}

.logo:hover {
    transform:  scale(1.1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar a {
    font-size: 1.8rem;
    color: $text-color;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: $main-color;
    border-bottom: 3px solid $main-color;
}

.menu-icon {
    font-size: 3.6rem;
    color: $main-color;
}

@media (max-width:995px) {
    .menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid $main-color;
        border-bottom: 3px solid $main-color;
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: $second-color;
        border-top: 0.1rem solid rgba(0,0,0,0.1 );
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid $main-color;
    }
}

@media (min-width:995px) {
    .menu-icon {
        display: none !important;
    }
}
