/*Secciones de Proyectos*/

section {
    background: $second-color;
    padding: 14rem;
    margin-bottom: 1rem;
}

.heading {
    flex-direction: column;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box {
    background-color: $main-color;
    height: 370px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.service-box:hover {
    background: transparent;
    color: $text-color;
    transform: scale(1.03);
    border: 1px solid $main-color;
}

.service-box .service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 40rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.service-info h4 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: $text-color;
    text-align: center;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 100px;
    margin: auto;
    color: $text-color;
}

@media (max-width:1000px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding: 0rem;
    }
}

@media (max-width:895px) {
    .services h2 {
        margin-bottom: 3rem;        
    }

    .services-container {
        grid-template-columns: repeat(1,1fr);
    }
    
}
