/*Secciones de Proyectos*/

.Proyectos-wordpress {
    background: #161616;
}

section {
    background: $second-color;
    padding: 14rem;
    margin-bottom: 1rem;
}
/*Titulos de secciones*/

.heading {
    flex-direction: column;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 3rem;
}

.Proyectos {
    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2.5rem;
    }
    .service-box {
        background-color: $main-color;
        height: 370px;
        border-radius: 3rem;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .service-box:hover {
        background: transparent;
        color: $text-color;
        transform: scale(1.03);
        border: 1px solid $main-color;
    }
    .service-box .service-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-height: 40rem;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .service-info h4 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $text-color;
        text-align: center;
    }
    .service-info p {
        font-size: 1.6rem;
        font-weight: 400;
        max-height: 100px;
        margin: auto;
        color: $text-color;
    }
    .button-proyectos{
        display: flex;
        justify-content: flex-start;
    button {
        position: relative;
        left: 39rem;
        top: 14rem;
        background: none;
        color: #fff;
        font-size: 1.6rem;
        cursor: pointer;
    }
    #next {
        font-size: 3.6rem;
        position: relative;
        left: 39.5rem;
        top: 14.1rem;
        cursor: pointer;
    }
  }
}

/*Responsive de Proyectos*/

@media (min-width:1414px) {
    .Proyectos{
        .button-proyectos {
            position: relative;
            top: -2rem;
            left: -15rem;
        }
      }
}

@media (max-width:1414px) {
    .Proyectos{
        .services-container {
            grid-template-columns: repeat(2,2fr);
        .button-proyectos {
            position: relative;
            top: -2rem;
            left: -15rem;
        }
      }
    }
  }

  @media (max-width:800px) {
    .Proyectos{
    .services-container {
        grid-template-columns: repeat(1,1fr);
    .service-box {
        height: 462px;
    }
    .button-proyectos {
        position: relative;
        top: 14rem;
        left: -30rem;
      }
    }
  }
}


@media (min-width:1880px) {
    .Proyectos{
        .button-proyectos {
            position: relative;
            left: -1rem;
        }
      }
}